---
layout: default
---
{%- assign _projects = site.project | sort: 'order' -%}
{%- include header.html scrolly_nav=_projects -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _project in _projects -%}
		{%- include section.html title=_project.title photo=_project.cover-photo photo-alt=_project.cover-photo-alt auto-header=_project.auto-header content=_project.content -%}
	{%- endfor -%}
</div>